.card-romain {
  border: 2px solid var(--red);
  .symbole {
    svg path {
      fill: var(--red) !important;
      stroke: var(--red) !important;
    }
  }
  .card-name {
    color: var(--red);
  }
}
